
<mat-form-field class="col-md-12">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite um nome para filtar">
</mat-form-field>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
            <mat-cell *matCellDef="let criminoso" (click)="irParaDetalhes(criminoso)">{{criminoso.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rg">
            <mat-header-cell *matHeaderCellDef mat-sort-header>RG</mat-header-cell>
            <mat-cell *matCellDef="let criminoso" (click)="irParaDetalhes(criminoso)">{{criminoso.rg | mask: '0.000.000'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CPF</mat-header-cell>
            <mat-cell *matCellDef="let criminoso" (click)="irParaDetalhes(criminoso)">{{criminoso.cpf | mask:'000.000.000-00'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button class="fab-button2" mat-fab (click)="novoCriminoso()">
        <i class="material-icons md-light">note_add</i>
    </button>
</div>