<div class="container-fluid">
    <mat-card class="mb-2">
        <mat-card-header>
            <mat-card-title>Dados Pessoais</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="col-md-3 col-sm-12">
                <input matInput placeholder="Nome" [(ngModel)]="person.name">
            </mat-form-field>

            <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="person.dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->

            <mat-form-field class="col-md-2 col-sm-12">
                <input matInput placeholder="Data de Nascimento" [(ngModel)]="person.dateOfBirth">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Nº RG" [(ngModel)]="person.rg">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="CPF" [(ngModel)]="person.cpf">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Profissão" [(ngModel)]="person.occupation">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Sexo" [(ngModel)]="person.gender">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Estado cívil" [(ngModel)]="person.maritalStatus">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Telefone" [(ngModel)]="person.phone">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Celular">
            </mat-form-field>
        </mat-card-content>

    </mat-card>

    <mat-card class="mb-2">
        <mat-card-header>
            <mat-card-title>Filiação</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.fathersName" placeholder="Nome do pai">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.mothersName" placeholder="Nome da mãe">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card class="mb-2">
        <mat-card-header>
            <mat-card-title>Endereço</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.address" placeholder="Endereço">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.cep" placeholder="CEP">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.complement" placeholder="Complemento">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.neighborhood" placeholder="Bairro">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.city" placeholder="Cidade">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.address.uf" placeholder="UF">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.naturalness" placeholder="Naturalidade">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <input matInput [(ngModel)]="person.nationality" placeholder="Nacionalidade">
            </mat-form-field>
        </mat-card-content>

    </mat-card>

    <mat-form-field class="col-md-12">
        <textarea matInput [(ngModel)]="person.criminalPattern" placeholder="Descrição do fato"></textarea>
    </mat-form-field>

    <button class="fab-button2" mat-fab (click)="save()">
        <i class="material-icons md-light">save</i>
    </button>
</div>