/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin: 0;
    background: #e0e0e05e;
}

.cursor-pointer{
    cursor: pointer;
}

.fab-button2 {
    position: fixed !important;
    left: 94%;
    bottom: 24px;
}

.fab-button3 {
    position: fixed !important;
    left: 94%;
    bottom: 90px;
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}

.spacer {
    flex: 1 1 auto;
  }