<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-2 mb-2">
            <mat-card class="cursor-pointer" (click)="sendMeToCriminalsRegister()">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>
                        <h4>Cadastrar Criminosos</h4>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        Lorem ipsum feugiat viverra libero tellus justo sodales lorem pretium litora fringilla tempor proin, libero quisque id turpis
                        nullam ultrices habitasse sodales euismod hac dolor.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2">
            <mat-card class="cursor-pointer" (click)="sendMeToOccurrences()">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>
                        <h4>Cadastrar Ocorrências</h4>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        Lorem ipsum feugiat viverra libero tellus justo sodales lorem pretium litora fringilla tempor proin, libero quisque id turpis
                        nullam ultrices habitasse sodales euismod hac dolor.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2">
            <mat-card class="cursor-pointer" (click)="sendMeToRecommendentions()">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>
                        <h4>Gerar Recomendação</h4>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        Lorem ipsum feugsdiat viverra libero tellus justo sodales lorem pretium litora fringilla tempor proin, libero quisque id
                        turpis nullam ultrices habitasse sodales euismod hac dolor.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>